@import '../../assets/sass/utilities';
@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.recipe {
    padding: 5rem 8rem;

    & h1 {
        font-size: 3rem;
        font-weight: 400;
        color: $color-blue-grey;
    }

    & > div:first-child > div {
        padding: 2rem 3rem;
        background-color: $primary-color-grey-light;
        border-radius: 8px;
        cursor: pointer;

        & > img {
            margin-right: 10px;
        }

        & > p {
            font-size: 1.6rem;
            color: $primary-text-grey-light;
        }
    }

    & > div:nth-child(2) {
        padding: 2rem 3rem;
        margin-top: 2rem;
        border-radius: 8px 8px 0 0;
        background-color: $primary-color-grey-light;

        & p {
            font-weight: 400;
            color: $color-blue-grey;
        }

        & > div:first-child > div:first-of-type {
            width: 2px;
            height: 16px;
            margin: 0 30px;
            background-color: $color-blue-grey;
        }

        & > div:first-child > div:last-of-type {
            margin: 0 30px;
        }

        & > div:last-child {
            cursor: pointer;
        }
    }

    & > div:last-child {
        margin-top: 5px;
        border: 1px solid $primary-color-grey-light;
        max-height: calc(100% - 40%);
        overflow: auto;
        padding: 2rem;

        & h2 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 2rem;
            color: $primary-color-green;
        }

        & p {
            font-weight: 500;
            font-size: 1.6rem;
            color: $color-blue-grey;
        }

        & ul {
            list-style: none;
            margin-bottom: 4rem;

            & > li > div {
                margin-bottom: 2rem;

                & input[type=checkbox] {
                    display: none;
                    margin-right: 2rem;
                }
                
                & input[type=checkbox] + label {
                    cursor: pointer;
                    width: 1.6rem;
                    height: 1.6rem;
                    border-radius: 50%;
                    margin-right: 2rem;
                    border: 1px solid $primary-color-green;
                }

                & input[type=checkbox]:checked + label {
                    background-color: $primary-color-green;
                }
            } 
        }
        
        & > div > div {
            padding-right: 50%;
            
            & > p {
                line-height: 2.4rem;
            }
        }
    }
}
