@import '../../../assets/sass/utilities';
@import '../../../assets/sass/variables';

.newRecipe {
    width: 100%;
    text-align: center;
    
    & div {
        width: 100%;
        
        &:first-child {
            & p {
                margin-right: 10px;
                font-size: 3rem;
                color: $color-blue-grey;
            }

            input {
                padding: 1.5rem;
            }

            & > div:last-child {
                flex: 0 1;
                margin-left: 20px;
            }
        }

        &:not(:last-child) {
            padding-bottom: 2rem;
        }

        &:not(:first-child) {
            & p {
                text-align: left;
                font-size: 2rem;
                color: $primary-color-green;
                padding-bottom: 1rem;
            }
        }

        &:nth-child(2) {
            & > div > div:last-child {
                flex: 0 1;
                margin-left: 20px;
            }
            
            &> div:last-child > div {
                width: 2.5rem;
                height: 2.5rem;
                padding: 4.3px 5.5px 8.5px 5.3px;
                border-radius: 50%;
                background-color: $primary-color-grey-dark;
            }
        }
    }
}