// COLORS
$color-white: #FFF;
$color-black: #000;
$color-grey: #CCC;
$color-blue-grey: #748a9d;

$primary-color-green: #7bed8d;
$primary-color-grey-light: #f0f4f8;
$primary-color-grey-dark: #748a9d;

// FONTS

// SIZE
$height-toolbar: 9rem;